<button class="relative w-16 h-[40px] flex flex-col justify-center items-end md:hidden" data-menu-btn aria-label="Menu Button">
  {% for i in range(0, 3) %}
    <span class="bg-black h-px w-8 origin-center {{ "-translate-y-[5px]" if loop.first }} {{ "translate-y-[5px]" if loop.last }}" data-menu-line></span>
  {% endfor %}
</button>