.preview {
  aspect-ratio: 2 / 3;
}

@supports not (aspect-ratio: 1) {
  .preview {
    height: 50%;
  }
}

@supports not (backdrop-filter: blur()) {
  .glass {
    background: rgba(0, 0, 0, 0.4);
  }
}

@supports not (aspect-ratio: 3 / 2) {
  .image-wrapper {
    width: 100%;
  }

  .image-wrapper::before {
    float: left;
    padding-top: 66.6666666667%;
    content: '';
  }

  .image-wrapper::after {
    display: block;
    content: '';
    clear: both;
  }
}
